<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="/Scripts/bootstrap.bundle.js"></script>
</head>
<body>
    <div class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between align-baseline" style="position: sticky; top: 0;">
        <div class="container d-flex align-items-center justify-content-between">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler1" aria-controls="navbarToggler1" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse" id="navbarToggler1">
                <a class="navbar-brand" href='@Url.Action("Index", "Home")'>
                    <img src='@Url.Content("~/Content/Images/vial-solid.svg")' alt="" width="30" height="24" class="d-inline-block align-text-top"/>
                </a>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">@Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Test Centres", "Index", "TestCentre", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("About", "About", "Home", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "nav-link" })</li>
                </ul>
                <div>@Html.ActionLink("Create New Appointment", "Create", "Appointment", null, new { @class = "btn btn-outline-success" })</div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    <div class="footer">
        <hr />
        <footer class="mx-2">
            <p>&copy; @DateTime.Now.Year - Test Centre Dashboard</p>
        </footer>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
